<!DOCTYPE html>
<html lang="en">
<head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
    <title>Order canceled</title>
    <link rel="icon" type="image/png" href="/static/am_logo_white.png">
</head>

<body class="pt-5">

{% extends "aless_art_shop/base.html" %}

{% block content %}
<div class="container">
    <h1 class="pt-5 page-headers">Order canceled</h1>
    <div class="container text-center pt-5">
            <img src="/static/cancelled-image.jpg", alt="Order cancelled" class="responsive-image">
    </div>
    <div class="text-center pt-5">
    <p>Must've been an accident right?</p>
    <p>Feel free to take another look at my artwork <a href="{% url 'stripe_payments:home' %}">here!</a></p>
    </div>

    </div>
{% endblock content %}

</body>

</html>