<!DOCTYPE html>
<html lang="en">
<head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <meta name="description=" content="Donate to Artlessi">
    <title>Donate</title>
    <link rel="icon" type="image/png" href="/static/am_logo_white.png">

</head>

<body class="pb-5">
    {% extends "aless_art_shop/base.html" %}

{% block page_header %}
<div class="row p-5 text-center">
<div class="container text-center pt-5">
<h1 class="page-headers">Help me make art</h1>
<hr>
</div>
</div>


<div class="container">
<div class="col-md-6 mx-auto text-center">
    <p>A small donation would help me purchase materials and attend classes so that I can make more art.</p>
    <p>The below options are one off contributions, you would be making a really big difference to me!</p>
    <p>Thank you!</p>

</div>
<div class="container ">
    <div class="card-deck mt-5 text-center">
    <div class="card bg-1 product-list-card">
        <div class="card-body">
            <h3 class="card-title">£5</h3>
           <p class="card-text">New charcoals!</p>
            <form action="{% url 'stripe_payments:make-donation' amount=5 %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn button56 btn-success btn-lg black-btn">Donate</button>
        </form>
        </div>
    </div>
    <div class="card bg-1 product-list-card">
        <div class="card-body">
            <h3 class="card-title">£10</h3>
           <p class="card-text">A life drawing class!</p>
            <form action="{% url 'stripe_payments:make-donation' amount=10 %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-success btn-lg black-btn">Donate</button>
        </form>
        </div>
    </div>
    <div class="card bg-1 product-list-card">
        <div class="card-body">
            <h3 class="card-title">£20</h3>
           <p class="card-text">A Canvas!</p>

            <form action="{% url 'stripe_payments:make-donation' amount=20 %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-success btn-lg black-btn">Donate</button>

        </form>
        </div>
    </div>
</div>
</div>
</div>
{% endblock page_header %}
</body>
</html>
