<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
        <title>About</title>
        <link rel="icon" type="image/png" href="/static/am_logo_white.png">
    </head>
    <body class = "pt-5 pb-5">

        {% extends "aless_art_shop/base.html" %}
        {% block page_header %}
        {% endblock page_header %}
        {% block content %}

        <div class="row p-5 text-center">
            <div class="container">
                <h1 class="page-headers">About</h1>
                <hr>
            </div>
        </div>

        <div class="container">
        <div class="row text-center">
        <div class="col-md-6">
            <p >I'm Alessio.<br> I'm an amateur artist based in London.<br> I've been drawing, sketching and painting all my life.</p>
        </div>
        <div class="col-md-6">
            <img src="/static/Professional_photo.png" alt="Professional photo" style="width:70%">
        </div>
        </div>
            </div>


        <div class="container text-center lead">
        <div class="row">
            <div class="col-md-6">
                <p>I attend life drawing classes in South London and sketch in public whenever I can - unsuspecting members of public make for great subjects.</p>
            </div>
            <div class="col-md-6">
                <p>Add an image here</p>
            </div>
        </div>

            <div class="row">
            <div class="col-md-6">
                <p>Add an image here</p>
            </div>
            <div class="col-md-6">
                <p>Maybe Ive sketched you!</p>
            </div>
            </div>
            <div class="row">
            <div class="col-md-6">
                <p>I decided to start selling my artwork to provide affordable art in the local London area.</p>
            </div>
            <div class="col-md-6">
                <p>Add an image here</p>
            </div>
            </div>
            <div class="row">
            <div class="col-md-6">
                <p>Add an image here</p>
            </div>
            <div class="col-md-6">
                <p>And an online store allows me to reach a wider audience</p>
            </div>
            </div>

        </div>


        {% endblock content %}

    </body>
</html>