<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <meta name="description" content="About page for Artlessi, an online art shop">
        <title>About</title>
        <link rel="icon" type="image/png" href="/static/am_logo_white.png">
    </head>
    <body class = "pt-5 pb-5">

        {% extends "aless_art_shop/base.html" %}
        {% block page_header %}
        {% endblock page_header %}
        {% block content %}

        <div class="row p-5 text-center">
            <div class="container">
                <h1 class="page-headers">About</h1>
                <hr>
            </div>
        </div>


        <div class="container ">
        <div class="row row-about text-center">
        <div class="col-md-12 pb-3">
            <p >I'm Alessio.<br> I'm an art enthusiast from London.<br> I've been drawing, sketching and painting all my life.</p>
        </div>

        </div>

        <div class="row text-center">
        <div class="col-md-12 pb-5">
            <img src="/static/Professional_photo.png" alt="Alessio professional photo" style="width:50%">
        </div>
        </div>


    <div class="card-deck mt-5 text-center">

            <div class="row row-about justify-content-md-center">
            <div class="col-md-4 card bg-1 p-3">
                <p>I love to attend life drawing classes, sketch in public and make art whenever I can.</p>
            </div>
            <div class="col-md-4 card bg-1 p-3">
                <p>I always found that original artwork costs too much to buy.</p>
            </div>
        </div>

            <div class="row row-about pt-md-5 justify-content-md-center">
            <div class="col-md-4 card bg-1 p-3">
                <p>So I decided to start selling my artwork to provide affordable artwork locally.</p>
            </div>
            <div class="col-md-4 card bg-1 p-3">
                <p>An online store allows me to reach a wider audience.</p>
            </div>
            </div>


    </div>
            <div class="row row-about text-center">
            <div class="col-md-12 pt-5">
            <p><a href = "{% url 'aless_art_shop:gallery' %}" class="btn btn-primary btn-lg black-btn" role="button">Life drawing gallery</a></p>
            </div>
            </div>
        </div>


        </div>

        {% endblock content %}

    </body>
</html>