<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <meta name="description" content="About page for Artlessi, an online art shop">
        <title>About</title>
        <link rel="icon" type="image/jpg" href="/static/am_logo.jpg">
    </head>
    <body class = "pt-5 pb-5">

        {% extends "aless_art_shop/base.html" %}
        {% block page_header %}
        {% endblock page_header %}
        {% block content %}

        <div class="row p-5 text-center">
            <div class="container">
                <h1 class="page-headers">About</h1>
                <hr>
            </div>
        </div>


        <div class="container ">
        <div class="row row-about text-center">
        <div class="col-md-12 pb-3">
            <p >I'm Alessio.<br> I'm an art enthusiast from London.<br> I've been drawing, sketching and painting all my life.</p>
        </div>

        </div>

        <div class="row text-center">
        <div class="col-md-12 pb-5 about-img-container">
            <img class='about-img' src="/static/Alessio Martello black and white.jpg" alt="Alessio professional photo" loading="lazy">
        </div>
        </div>


    <div class="mt-5">
            <div class="row row-about justify-content-md-center">
            <div class="col-md-8 card bg-1 p-3">
                <p>I started this charcoal art blog to track my progress and hopefully help others along the way. Keeping a weekly blog makes me accountable! I love to attend life drawing classes in London, sketch in public and make art whenever I can.<br><br>
                    I don't claim to be an expert and haven't studied art but I love drawing and reading about other people's journey and techniques; I know I've googled <a href="{% url 'aless_art_shop:blogdetail' 'CharcoalEyeBlogPost' %}">how to draw a charcoal eye</a> more than once!
                </p>
                <p> Follow my blog and improve your art with me!</p>
            </div>
        </div>
    </div>
            <div class="row row-about text-center">
            <div class="col-md-12 pt-5">
            <p><a href = "{% url 'aless_art_shop:blogs' %}" class="btn btn-primary btn-lg black-btn" role="button">Go to my blog</a></p>
            </div>
            </div>

            <div class="mt-5">
            <div class="row row-about justify-content-md-center">
            <div class="col-md-8 card bg-1 p-3">
                <p> I always found that original artwork costs too much to buy.</p>
                <p>So I decided to start selling my life drawings at a price a I would be happy to pay. An online store allows me to reach a wider audience.
                Each drawing has been drawn by me at my favourite life drawing classes in London, as I learn to represent the human form as best I can!.</p>
            </div>
            </div>
    </div>
            <div class="row row-about text-center">
            <div class="col-md-12 pt-5">
            <p><a href = "{% url 'aless_art_shop:gallery' %}" class="btn btn-primary btn-lg black-btn" role="button">Life drawing gallery</a></p>
            </div>
            </div>

                        <div class="mt-5">
            <div class="row row-about justify-content-md-center">
            <div class="col-md-8 card bg-1 p-3">
                <p>If you like my drawings and enjoy my blog then feel free to contribute, it would be greatly appreciated.</p>
            </div>
            </div>
    </div>
            <div class="row row-about text-center">
            <div class="col-md-12 pt-5">
            <p><a href = "{% url 'stripe_payments:donate' %}" class="btn btn-primary btn-lg black-btn" role="button">Contribute</a></p>
            </div>
            </div>
        </div>

{% include 'aless_art_shop/SubscribeModal.html' %}
            <script>
                        setTimeout(function() {
            $('#ModalCenter').modal();
        }, 10000);
            </script>

        {% endblock content %}

    </body>
</html>