{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">
<head>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <meta name="description" content="Navigation and footer template">

    <title>Base</title>
        {% bootstrap_css %}
        {% bootstrap_javascript jquery='full' %}
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link rel="icon" type="image/png" href="/static/am_logo_white.png">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">


</head>

<body>
    <nav class="navbar navbar-expand-md fixed-top mx-5 sub-headers">
        <a class="navbar-brand mx-auto" href="{% url 'aless_art_shop:index'%}">
            <img src="{% static 'am_logo.png' %}" alt="Artlessi company logo" height="60">
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarCollapse" aria-controls="navbarCollapse"
                aria-expanded="false" aria-label="Toggle navigation" style="padding:0;">
            <i class="fa fa-bars sub-headers" style="font-size:2rem"></i>
        </button>

        <div class="collapse navbar-collapse mx-5" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class = "nav-link" href="{% url 'aless_art_shop:gallery' %}"> Life Drawings</a></li>
                <li class="nav-item"><a class = "nav-link" href="{% url 'aless_art_shop:about' %}"> About</a></li>
                <li class="nav-item"><a class = "nav-link" href="{% url 'aless_art_shop:faqs' %}"> Faqs</a></li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item"><a class = "nav-link" href="{% url 'stripe_payments:donate' %}"> Donate <i class="fa fa-heart"></i></a></li>
            </ul>
           </div>
 </nav>

    <main role = "main" class="container-fluid">
            {%block page_header %}
            {% endblock page_header %}

            {% block content %}
            {% endblock content %}
    </main>
    <footer>
        <div class="row">
            <div class="container text-center pt-5 pb-3">
                <hr>
                <p>Find out about delivery, security & payment <a href="{% url 'aless_art_shop:faqs' %}">here.</a></p>
                <p class="footer-info">Copyright &copy; 2021 Artlessi. Made by <a href="https://github.com/AlessioMartello" target="_blank" rel=noopener>yours truly.</a> </p>
            </div>
        </div>
    </footer>

    <footer class="bd-footer p-md-2 mt-5 text-center fixed-bottom">
        <div class = "footer-container">
            <div class="row" >
                <ul class="social-network social-circle" >
                    <li><a href="#" class="icoInstagram" title="Instagram +"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/alessiomartello/" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
    </footer>

</body>
</html>