<!DOCTYPE html>
<html lang="en">
<head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <meta name="description=" content="Art gallery for life drawings">

    <title>Gallery</title>
    <link rel="icon" type="image/png" href="/static/am_logo_white.png">

</head>
<body class="pt-5 pb-5">
{% extends 'aless_art_shop/base.html' %}

{% block content %}
<div class="container">
<h1 class="pt-5 page-headers">Blogs</h1>
<hr>
</div>
<div class="container">
    {% for post in blogpost_list %}
    <div class="container pt-5">
        <h2>{{ post.title }}</h2>
        <p>{{ post.author|title }} - {{ post.created_on }}</p>
        <p>{{ post.content|slice:":200" }} .... </p>
        <a href="{% url 'aless_art_shop:blogdetail' post.slug %}" class="btn btn-primary">Read More</a>
    </div>
        {% endfor %}
</div>


{% endblock content %}