<!DOCTYPE html>
<html lang="en">
<head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <meta name="description=" content="Artlessi Blog list">

    <title>Artlessi blogs</title>
    <link rel="icon" type="image/jpg" href="/static/am_logo_white.png">

</head>
<body class="pt-5 pb-5">
{% extends 'aless_art_shop/base.html' %}

{% block content %}
<div class="container">
<h1 class="pt-5 page-headers">Blog</h1>
<hr>
</div>
    {% for post in blogpost_list %}

<div class="container pt-5">
    <div class="row">
        <div class="col-md">
        <h2>{{ post.title }}</h2>
            <div class="blog-meta-data">
                <p>{{ post.author|title }} - {{ post.created_on|date:"M d, Y" }}</p>
                <p>{{ post.content|slice:":400"|safe }} .... </p>
            </div>

        <a href="{% url 'aless_art_shop:blogdetail' post.slug %}" class="btn btn-primary black-btn mb-5">Read more</a>
    </div>

    <div class="col-md" style="display:flex; align-items:center; justify-content:center">
        <div class="product-list-card" >
        <img class="product-img" src=" {{ post.blog_photo.url }}" alt="Hand drawn artwork for blog post" style="max-height: 40vh;object-position: 0% 0%;">
        <a href="{% url 'aless_art_shop:blogdetail' post.slug %}">
        <div class="image-overlay-title">
        </div>
        </a>
    </div>
    </div>
        {% endfor %}
</div>

</div>

{% endblock content %}
</body>
</html>