<!DOCTYPE html>
<html lang="en">
<head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <meta property='og:title' content='Artlessi: Afford original art'>
        <meta name="description" content="Charcoal art blog post">
        <meta property='og:image' content='/static/am_logo.png'>
        <meta property='og:description' content='An art blog for charcoal art and life drawing'>
        <meta property="og:url" content="https://www.artlessi.co.uk/blogs">

    <title>Artlessi blog post</title>
    <link rel="icon" type="image/jpg" href="/static/am_logo.jpg">

</head>
<body class="pt-5 pb-5">
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v12.0" nonce="Hb9DvAaG"></script>

{% extends 'aless_art_shop/base.html' %}

{% block content %}
<div class="container pt-5">
<a href="{% url 'aless_art_shop:blogs' %}" class="btn btn-primary black-btn">Back to blog posts</a>
<h1 class="pt-5 page-headers" style="text-align:left;">{{ object.title }}</h1>
        <h4>{{ object.sub_heading|title }}</h4>
<div class="shareable-links pt-3 " style="display:flex;justify-content:flex-start;align-items: center;
">
    <div class="fb-share-button"
        data-href="https://www.artlessi.co.uk/blogs/{{ object.slug }}/"
        data-layout="button"
        data-size="large">
</div>
<script src="https://platform.linkedin.com/in.js" type="text/javascript">lang: en_US</script>
<script type="IN/Share" data-url="https://www.artlessi.co.uk/blogs/{{ object.slug }}/"></script>
<a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-text="Check out this charcoal art blog post!" data-hashtags="charcoal,art,blog" data-show-count="false" data-size="large">Tweet</a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script><a data-pin-do="buttonBookmark" data-pin-tall="true" href="https://www.pinterest.com/pin/create/button/"></a>

</div>
<hr>
</div>
<div class="container">
<div class="row">
<div class="container col-lg-10">

    <p>by {{ object.author|title }} | {{ object.created_on|date:"M d, Y" }}</p>
    <div class="col-md-8" style="margin-left:auto;margin-right: auto;">
        {% if object.video_embed_url %}
            <div class="videoWrapper">
            <iframe
                    src= "{{ object.video_embed_url }}"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer;
                     autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        {% elif object.blog_photo.url %}
        <img class="product-img" src=" {{ object.blog_photo.url }}" alt="Hand drawn artwork for blog post";>
        {% endif %}
    </div>
        <p class="pt-5">{{ object.content | safe }}</p>
    <div class = "row pt-5">
       {% for walkthrough_step in walkthrough_steps %}
        {% if walkthrough_step.step %}
                <div class="col-md-6">
                        <img src="{{ walkthrough_step.image.url }}" alt="Hand drawn artwork for sale" style="display:block;width: 100%;">
                    </div>
                    <div class="col-md-6 pt-5">
                    <p>{{walkthrough_step.step}}</p>
                </div>
        {% else %}
                    <div class="col-md-8 mx-auto">
                        <img src="{{ walkthrough_step.image.url }}" alt="Hand drawn artwork for sale" style="display:block;width:100%;">
                    </div>
        {% endif %}
        <hr style="width:80%;background-color:var(--lightpurple));height:1px;">
        {% endfor %}
    </div>

     </div>

    <div class="col-lg-2 pb-5">
        <div class="bg-1 position-sticky sub-headers p-2 card bg-1" style="top:6rem;">
            <h4>Latest blogs</h4>
                {% for blog in blogs|slice:":3" %}
              <p>
                  <a href="{% url 'aless_art_shop:blogdetail' blog.slug %}" style="color:black;">
                      {{blog.title}}<br>- {{blog.created_on|date:"M d, Y" }}
                  </a>
              </p>
    {% endfor %}

        </div>
    </div>
</div>
    <div id="disqus_thread"></div>


</div>
<!--{% include 'aless_art_shop/SubscribeModal.html' %}-->

<!--            <script>-->
<!--                        setTimeout(function() {-->
<!--            $('#ModalCenter').modal();-->
<!--        }, 10000);-->
<!--            </script>-->
<script>
    /**

    var disqus_config = function () {
    this.page.url = "https://artlessi.co.uk/blogs/{{ object.slug }}/";;  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = '/{{ object.slug }}/'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };

    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://https-www-artlessi-co-uk.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
</script>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

<script async defer src="//assets.pinterest.com/js/pinit.js"></script>

{% endblock content %}
</body>
</html>