<!DOCTYPE html>
<html lang="en">
<head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <meta name="description=" content="Artlessi Blog list">

    <title>Artlessi blogs</title>
    <link rel="icon" type="image/jpg" href="/static/am_logo.jpg">

</head>
<body class="pt-5 pb-5">
{% extends 'aless_art_shop/base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <a href="{% url 'aless_art_shop:blogs' %}" class="blog-titles"><h1 class="pt-5 page-headers">Blog</h1></a>
<hr>
</div >
<div class="container text-center" style="text-align:center;">
    <p>Search our blog posts, where artists share and grow together.</p>
</div>

<div class="container" style="text-align:center;display: flex;justify-content: center;">
<!--    Search-->
    <div class="input-group m-2">
          <input style="border-radius:10px;" type="text" class="form-control" id="blogFilter" aria-label="Search for keywords..." placeholder="Search for keywords..." aria-describedby="basic-addon1">
    </div>

</div>
<div class="container ">
<div class="pb-5" style="display:flex;justify-content: center;flex-wrap:wrap;">
    {% for tag in tags%}
    <a href="{% url 'aless_art_shop:posts_by_tag' tag.slug%}" class="hashtags hashtagsAll">{{tag.name}}</a>
    {%endfor%}
</div>
</div>



    {% for post in blogpost_list %}

<div class="container filterBlogList">
    <div class="row">
        <div class="col-md">
        <a href="{% url 'aless_art_shop:blogdetail' post.slug %}" class="blog-titles"><h2 class="filterTitle" style="color:black;">{{ post.title }}</h2></a>
            <div class="blog-meta-data">
                <p>{{ post.author|title }} - {{ post.created_on|date:"M d, Y" }}</p>
                <p>{{ post.content|slice:":200"|safe }} .... </p>
            </div>

        <a href="{% url 'aless_art_shop:blogdetail' post.slug %}" class="btn btn-primary black-btn">Read more</a>
    </div>

    <div class="col-md" style="display:flex; align-items:center; justify-content:center">
        <div class="product-list-card" >
        <img class="product-img" src="{{ post.blog_photo.url }}" alt="Hand drawn artwork for blog post" style="max-height: 30vh;object-position: 0% 0%;">
        <a href="{% url 'aless_art_shop:blogdetail' post.slug %}">
        <div class="image-overlay-title">
        </div>
        </a>

        </div>
    </div>

</div>
    <div>
                {% for tag in post.tags.all %}
                <a href="{% url 'aless_art_shop:posts_by_tag' tag.slug %}" class="hashtags">#{{ tag.name }}</a>
                {% endfor %}
    </div>

    <hr style="width:80%;background-color:var(--lightpurple));height:1px;">
</div>

        {% endfor %}

<script src="{% static 'js/script.js' %}"></script>
</body>
{% endblock content %}

</html>