<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Faqs</title>
    <link rel="icon" type="image/png" href="/static/am_logo_white.png">
</head>

<body class="pt-5">

{% extends "aless_art_shop/base.html" %}

{% block content %}
<div class="container pt-5 text-center">
<h3>Is shipping included?</h3>
<p>Yes! If you live in the UK I will post the art free of charge, signed delivery.</p>

<h3>Do you sell overseas?</h3>
<p>Unfortunately I am not selling art abroad at the moment but watch this space</p>

<h3>Can I return an item?</h3>
<p>Nope, sorry! But why would you want to?!</p>

<h3>Has my order gone through?</h3>
<p>You should have received an order confirmation upon purchase, please check your junk folder. Feel free to email me if not.</p>

<h3>Can I commission some artwork?</h3>
<p>Yes please do! Drop me an email I will be more than happy to discuss.</p>

</div>
{% endblock content %}
</body>

</html>