<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta name="description" content="Delivery, security and payment frequently asked questions">
    <title>Frequently asked questions</title>
    <link rel="icon" type="image/jpg" href="/static/am_logo_white.png">
</head>

<body class="pt-5 pb-5">

{% extends "aless_art_shop/base.html" %}

{% block content %}

<div class="container pt-5">
    <h1 class="page-headers">Faqs</h1>
    <div class="col-md-8 mx-auto" >
    <hr>

        <div class="mb-5 ">
            <h4 class="sub-headers">Is shipping included?</h4>
            <p>Yes! If you live in the UK I will post the art free of charge, signed delivery.</p>
        </div>
        <div class="mt-5 mb-5">
            <h4 class="sub-headers">Do you sell overseas?</h4>
            <p>Unfortunately I don't sell art outside the UK at the moment, sawry.</p>
        </div>
        <div class="mt-5 mb-5">
            <h4 class="sub-headers">How can I get in contact?</h4>
            <p><a href="mailto:alessio@artlessi.co.uk">Email me!</a> I'd love to hear from you.</p>
        </div>
        <div class="mt-5 mb-5">
            <h4 class="sub-headers">Can I return an item?</h4>
            <p>An undamaged item can be returned within 14 days, for a full refund.</p>
        </div>
        <div class="mt-5 mb-5">
            <h4 class="sub-headers">Has my order gone through?</h4>
            <p>You should have received an order confirmation upon purchase, please check your junk folder. Feel free to email me if not.</p>
        </div>
        <div class="mt-5 mb-5">
            <h4 class="sub-headers">Can I commission some artwork?</h4>
            <p>Yes please do! Drop me an email I will be more than happy to discuss.</p>
        </div>

        <div class="mt-5 mb-5">
            <h4 class="sub-headers">Did you draw all the art shown?</h4>
            <p>I did! I'm hoping to list work from other artists in the future however.</p>
        </div>
        <div class="mt-5 mb-5">
            <h4 class="sub-headers">What payment method do you accept?</h4>
            <p>I accept Card payment via <a href="https://stripe.com/gb" target="_blank" rel=noopener>Stripe</a>, a PCI Service Provider Level 1 certified payment infrastructure</p>
        </div>
        <div class="mt-5 mb-5">
            <h4 class="sub-headers">Will you collect my bank details?</h4>
            <p>No way, all financial information is encrypted and I have no access to it.</p>
        </div>

    </div>
    </div>
{% endblock content %}
</body>

</html>