<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
        <title>Artlessi</title>
        <link rel="icon" type="image/png" href="/static/am_logo_white.png">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">

    </head>

<body class="pb-5">

{% extends "aless_art_shop/base.html" %}

{% block page_header %}
    <header class="jumbotron jumbotron-fluid vertical-center ">
        <div class = "container rounded text-center">
            <h1 class="display-3 page-headers"> Artlessi</h1>
            <div class="container tagline">
            <p class="lead" style="font-weight:bold">Afford original art.</p>
            </div>
            <p><a href = "{% url 'aless_art_shop:gallery' %}" class="btn btn-primary btn-lg black-btn" role="button"> Explore!</a></p>
        </div>
    </header>



{% endblock page_header %}


{% block content %}
<div class="container">
<div class="row pt-md-5 ">
   <div class="col-md-6 ">
      <div class="card card-block text-center " style="height: 18rem;">
         <div class="card-body align-items-center d-flex justify-content-center bg-1">
            <div class="container">
                <h5 class="card-title"><i class="fa fa-pencil fa-2x"></i></h5>
               <h5 class="card-title sub-headers">Whats the deal?</h5>
               <p class="card-text">An amateur artist selling art.</p>
            </div>
         </div>
      </div>
   </div>
   <div class="col-md-6">
      <div class="card card-block text-center" style="height: 18rem;">
         <div class="card-body align-items-center d-flex justify-content-center bg-1">
            <div class="container">
                <h5 class="card-title"><i class="fa fa-calendar fa-2x"></i></h5>
               <h5 class="card-title  sub-headers">Original artwork added regularly!</h5>
               <p class="card-text">Whether its life drawing, watercolour or something else I'll endeavour to add new content!</p>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="row pt-md-5">
   <div class="col-md-6">
      <div class="card card-block text-center" style="height: 18rem;">
         <div class="card-body align-items-center d-flex justify-content-center bg-1">
            <div class="container">
                <h5 class="card-title"><i class="fa fa-lock fa-2x"></i></h5>
               <h5 class="card-title sub-headers">Secure payments </h5>
               <p class="card-text">Using a trusted payment provider to process your order safely and risk free</p>
            </div>
         </div>
      </div>
   </div>
   <div class="col-md-6">
      <div class="card card-block text-center" style="height: 18rem;">
         <div class="card-body align-items-center d-flex justify-content-center bg-1">
            <div class="container">
                <h5 class="card-title"> <i class="fa fa-truck fa-2x"></i></h5>
               <h5 class="card-title sub-headers">Free delivery!</h5>
               <p class="card-text">If you're in the UK I'll send you the art you buy free of charge.</p>
            </div>
         </div>
      </div>
   </div>
</div>
</div>
{% endblock content %}
</body>
</html>