<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
</head>
<body>

{% extends "aless_art_shop/base.html" %}
{% block page_header %}
    <div class = "jumbotron" >
        <h1 class="display-3"> Aless' art shop
        </h1>
        <p class="lead"> Buy independent art from London based artists </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis blandit quis elit ut ullamcorper. Morbi placerat, arcu at tincidunt fermentum, ligula ex luctus purus, nec hendrerit ex mi egestas urna. Curabitur vitae diam nec dolor ornare auctor. Donec in diam enim. Sed finibus orci lorem, quis tristique nulla aliquet et. Ut vehicula condimentum ipsum, et dictum diam dignissim sed. Praesent sollicitudin risus non arcu hendrerit fringilla.

Maecenas maximus dui mi, vel convallis justo cursus vel. Quisque magna risus, feugiat eu egestas nec, finibus in nulla. Nulla facilisi. Suspendisse potenti. Integer convallis molestie eleifend. Sed venenatis aliquet lectus sit amet imperdiet. Nunc pellentesque eros tortor, at lacinia nisi rutrum ut. Proin venenatis vel libero in dignissim. Vestibulum varius sed est a elementum. Phasellus in lacinia lacus. Nullam ornare diam vitae sem gravida, suscipit aliquet neque maximus. Quisque non leo sit amet urna pharetra convallis ut at justo. Integer viverra vulputate dolor, vel malesuada nunc vehicula a. Nulla non urna et neque accumsan eleifend.

Nullam condimentum, tortor vitae dapibus interdum, lectus ante accumsan est, eget tincidunt erat ipsum id arcu. Vivamus aliquam id mi eget pretium. Mauris gravida aliquet sem, non congue nibh placerat placerat. Suspendisse varius iaculis felis ut dapibus. Nulla nec elit bibendum, finibus neque nec, mollis quam. Sed bibendum ipsum accumsan, blandit ex nec, ultricies massa. Morbi a nisi ac massa fringilla porta a eu purus. Ut egestas tempus risus, quis dictum nibh fringilla eu.

Suspendisse eleifend risus vel maximus consectetur. Sed facilisis consequat arcu et sagittis. Sed in dignissim lorem. In aliquam efficitur turpis in rutrum. Aliquam vel congue libero. Mauris lectus nisi, fermentum in vulputate at, pretium dignissim metus. Aenean quis augue dapibus, viverra ligula quis, pretium massa. Suspendisse pharetra felis eget lectus congue, ac venenatis mauris bibendum. Suspendisse potenti. Sed in ullamcorper ex. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Ut convallis turpis non hendrerit facilisis. Phasellus pulvinar accumsan velit, ac mollis velit. Sed pretium et quam nec luctus. Aliquam erat volutpat. Fusce blandit feugiat arcu non rutrum.

Phasellus a vehicula dui, nec congue felis. Donec at sodales tortor. Vivamus tempus ex ut mi cursus dignissim. Aliquam vestibulum mauris et elit laoreet sagittis vel ac eros. Curabitur sed est purus. Phasellus ac justo sollicitudin, mattis sapien quis, dictum ante. Nunc blandit magna eu ante mattis, eu feugiat tortor feugiat.

Quisque vel tellus vel dui dignissim pretium non id eros. Nunc ac mauris sem. Aliquam hendrerit augue eget metus accumsan pretium id sit amet quam. Ut efficitur leo at nulla laoreet luctus. Ut molestie, mauris ut dictum tempor, augue diam consectetur nisi, sed tempus lacus purus ut nulla. Sed malesuada velit nec ultricies venenatis. Donec sagittis congue posuere. Sed sit amet lacus id tellus elementum finibus. Sed vulputate sodales purus, id pellentesque orci sodales ut. Suspendisse dignissim aliquet ante at pharetra. Nunc gravida vel erat volutpat dictum. Curabitur volutpat pellentesque turpis, vitae faucibus est ullamcorper malesuada.

Sed nec lobortis dolor, eget pellentesque purus. Proin ipsum arcu, gravida nec volutpat sit amet, rutrum vitae lacus. Quisque et fermentum leo, ut aliquet dolor. Vestibulum ac consequat urna. Maecenas gravida gravida ipsum, sagittis porta nisl tincidunt nec. Aliquam viverra, urna eu sodales dignissim, urna sapien congue nibh, non maximus justo ligula a odio. Fusce vel maximus arcu, vitae euismod ante.

Duis tempus dui erat, eget tristique neque pellentesque eget. Curabitur maximus at nibh vitae sodales. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla turpis dui, ornare sed mattis id, tristique laoreet est. Ut egestas et tellus vitae ultrices. Pellentesque dictum felis ac velit sodales, imperdiet venenatis orci semper. Aliquam semper tempor augue. Praesent consectetur dolor non ipsum ullamcorper mattis. Nunc consequat lacus et hendrerit vehicula. Praesent porttitor lobortis justo sed laoreet. Cras non gravida sapien. Nulla eleifend vestibulum dui a laoreet. Donec ac ultricies libero, vel tincidunt diam. Fusce blandit sodales placerat.

Ut egestas erat eu tortor fermentum malesuada. Pellentesque placerat metus vitae sapien dignissim ultricies. Nullam pretium vulputate massa a dignissim. In hac habitasse platea dictumst. Phasellus dignissim risus elit, a ultricies leo congue a. Aenean dictum, purus non porta commodo, libero massa rutrum enim, a fringilla eros nibh consequat ipsum. Mauris vitae mi vestibulum, tristique lectus sed, vehicula augue. In commodo imperdiet quam at scelerisque. Integer condimentum magna dictum lorem viverra lacinia. Fusce rutrum eros sem, sit amet auctor diam auctor ut. Fusce pulvinar ut eros non dictum. Cras posuere est non viverra lacinia. Vestibulum mattis, purus ac commodo luctus, nisi sem viverra nibh, a volutpat justo tellus et lacus.

Etiam viverra, augue sit amet iaculis mollis, enim felis mattis velit, nec egestas elit nisl a enim. Vivamus faucibus interdum elit non dapibus. Donec imperdiet mattis dapibus. Maecenas urna ante, ornare eu iaculis et, finibus sed nulla. Maecenas iaculis, nibh in viverra scelerisque, turpis mauris malesuada magna, at scelerisque dolor sem non nunc. Mauris mattis id purus quis interdum. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Pellentesque sed risus lorem.

Duis ut bibendum orci. Aenean consectetur lorem et vulputate venenatis. Fusce congue risus sapien, nec laoreet massa ornare nec. Aenean sed nisi nunc. Aenean eleifend, nisl at tincidunt euismod, risus turpis tincidunt magna, quis dictum neque enim pretium leo. Integer pellentesque commodo orci, et fringilla dolor accumsan in. Donec auctor ullamcorper elit vel sagittis. Praesent tincidunt malesuada tellus, ut ornare dolor sollicitudin et. Nunc pulvinar magna eget lacus hendrerit, ac venenatis tellus varius. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sapien ante, porta ac nisl eget, egestas consectetur urna.

Nam nec lectus maximus, finibus arcu sagittis, consequat eros. Phasellus interdum metus in odio accumsan, non rutrum massa auctor. Sed tempor luctus aliquam. Sed nec porta lacus. Praesent eget eros at ligula tempor pretium at id purus. Fusce eros ex, commodo nec elit non, pulvinar venenatis nunc. Suspendisse accumsan, est vitae mattis iaculis, neque sapien finibus diam, vitae tempor metus eros at libero. Nulla iaculis non lacus vitae egestas. Morbi dolor nisl, commodo vel elit nec, laoreet ornare enim.</p>
    </div>
{% endblock page_header %}


{% block content %}
<p> Aless Art shop</p>
<p> A place to buy art </p>
{% endblock content %}
</body>
</html>