<!DOCTYPE html>
<html lang="en">
<head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
    <title>Products</title>
    <link rel="icon" type="image/png" href="/static/am_logo_white.png">

</head>
<body class="pt-5 pb-5">
{% extends 'aless_art_shop/base.html' %}

{% block content %}
<div class="container">
<h1 class="pt-5 page-headers">Life Drawings</h1>
<hr>
</div>
<div class="container text-center">
    <p>Each of the the below are originals, drawn from life models, at various life drawing classes in London.</p>
</div>
<div class="card-columns pt-5 px-3">
    {% if product_list %}
        {% for p in product_list %}
            <div class="card bg-1 product-list-card">
                {% if p.photo %}
                    <a href="{% url 'aless_art_shop:detail' id=p.id %}">
                    <img class="card-img-top " src="{{ p.photo.url }}" alt="Hand drawn artwork"></a>
                    {% endif %}
                    <div class="card-body text-center">
                        <h4 class="sub-headers">{{ p.product_name }}</h4>
                    </div>
                <div class="card-footer text-center">
                    <a href="{% url 'aless_art_shop:detail' id=p.id %}" class="btn btn-success ml-auto black-btn">More info</a>
                </div>
        </div>
        {% endfor %}

    {% else %}
    <div class="alert alert-info text-center mt-5">
        The product list is empty. Please add some products first.
    </div>
    {% endif %}
</div>
{% endblock content %}