:root {
    --purple: #7026b9;
    --lightpurple: #E6DDFB;
    --lightpurpletransparent:rgba(171,186,234,0.8);
}


ul.social-network {
	list-style: none;
	display: inline-block;
	margin-left:0 !important;
	padding: 0;
}
ul.social-network li {
	display: inline-block;
	margin: 0 5px;
}

.social-network a.icoPinterest:hover {
	background-color:#BD081C;
}

.social-network a.icoLinkedin:hover {
	background-color:#007bb7;
}

.social-network a.icoEmail:hover {
	background-color:#0072c6;
}

.social-network a.icoYoutube:hover {
	background-color:#FF0000;
}

.social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 50px;
	height: 50px;
	font-size:20px;
	background-color: var(--purple);
}
.social-circle li i {
	margin:0;
	line-height:50px;
	text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}
.social-circle i {
	color: #fff;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}

.footer-container {
  display: flex;
  justify-content: space-evenly;
}


.jumbotron {
    background: url("/static/charcoal_art_life_drawing.jpeg") no-repeat center;
    background-size: contain;
    background-attachment: fixed;
    margin-bottom:0;
}

.black-btn {
    background-color: var(--purple);
    border-color: var(--purple);
}

.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 6;
  }
  @include media-breakpoint-only(xl) {
    column-count: 6;
  }
}

.vertical-center {
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.indexrow{
background-color: #f99;
}

.product-img{
    width: 100%;
    object-fit: cover;
    border: 2px solid #555;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)
}

.bg-1 {
        background-color: var(--lightpurple);
        border:0;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)
    }

.btn:hover, .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color:white;
    background-color: black;
    border-color: black;
}

.page-headers {
    color:var(--purple);
  font-weight: bold;
    font-family: "Sofia", sans-serif, Arial;
    text-align:center;
}

.nav-link{
    color: var(--purple);
    font-size: large;
    font-family: Montserrat;}

.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
    color: black !important;
}

.navbar-collapse{
    text-align:center;
}
.navbarCollapse{
    background-color:black;
}


.sub-headers{
    color:var(--purple);
    font-family:Montserrat, Arial;
    font-weight: bold;

}

@media only screen and ( max-width: 767px ) {
  .jumbotron {
    background-image: none !important;
  }

  .navbar-collapse{
    background-color: var(--lightpurple) !important;
}
    .tagline{
    background:transparent !important;
    }

    .about-img{
    width: 100% !important;
    }

}

@media only screen and ( max-width: 425px ) {

    .blog-meta-data {
    display:none !important;
    }

}

@media only screen and ( max-width: 1023px ) {

    .modal-text{
    color:var(--purple);
    background-color:var(--lightpurple) !important;
    border-radius:10px;
    padding:10px;
    }

}

.about-img{
width:50%;
}

.footer-info{font-weight:normal;
}

p, ul, ol {
    font-family:Montserrat, Arial;
    font-weight:bold;
    font-size:1.1rem;
}

h4, h2, h3 {
    font-family:Montserrat, Arial;
    font-weight:bold;
}

hr{background-color: var(--lightpurple);}

.responsive-image{
  max-width: 40%;
  height: auto;
}

.tagline{
    font-family:Montserrat;
    width:30%;
    background:rgba(171,186,234,0.5);
}

.card {
  border-radius: 10px;
}

.product-list-card{
  position:relative;
}

.card-img-top {
  border-radius: 10px;
  display:block;
  width:100%;
}

.image-overlay-title{
    border-radius: 10px;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.6);
    display:flex;
    flex-direction: column;
    padding-left:20px;
    padding-top:20px;
    opacity:0;
    color:white;
    transition:opacity 0.5s;
    line-height:90%;

}


.image-overlay-title:hover{
    opacity: 1;
}

.product-list-card:hover {
  box-shadow: 0 0px 15px rgba(0,0,0,0.5);
  }


ul.timeline {
    list-style-type: none;
    position: relative;
}
ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
}
ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid var(--purple);
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}

.section-background{
    background-color:#0f172a;
    position:relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--purple);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--lightpurple);
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.navbar-scroll{
background-color:var(--lightpurpletransparent) !important;
transition: 0.6s;
}

.navbar{
transition:0.6s;
}

.modal-header{
    border-bottom:none;
}

.modal-content{
    background: url("/static/charcoal_art_life_drawing.jpeg") no-repeat center;
    background-size: cover;
    background-position: top;
}

#id_SubscriberEmail{
width:20rem;
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
    overflow: hidden;
}

.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.disabled{
color:black;
}

.paginate-black{
color:black;}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}