:root {
    --purple: #7026b9;
    --lightpurple: #ABBAEA;
    --lightpurpletransparent:rgba(171,186,234,0.5);
}


ul.social-network {
	list-style: none;
	display: inline-block;
	margin-left:0 !important;
	padding: 0;
}
ul.social-network li {
	display: inline-block;
	margin: 0 5px;
}

.social-network a.icoInstagram:hover {
	background-color:#E1306C;
}

.social-network a.icoLinkedin:hover {
	background-color:#007bb7;
}
.social-network a.icoLinkedin:hover i {
	color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
	color:#44BCDD;
}

.social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 50px;
	height: 50px;
	font-size:20px;
	background-color: var(--purple);
}
.social-circle li i {
	margin:0;
	line-height:50px;
	text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}
.social-circle i {
	color: #fff;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}

.footer-container {
  display: flex;
  justify-content: space-evenly;
}


.jumbotron {
    background: url("/static/man_sitting.jpeg") no-repeat center;
    background-size: contain;
    background-attachment: fixed;

}

.black-btn {
    background-color: var(--purple);
    border-color: var(--purple);
}

.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 6;
  }
  @include media-breakpoint-only(xl) {
    column-count: 6;
  }
}

.vertical-center {
  min-height: 100%;
  min-height: 100vh;

  display: flex;
  align-items: center;
}

.indexrow{
background-color: #f99;
}

.product-img{
    width: 100%;
    object-fit: cover;
    border: 2px solid #555;

}

.bg-1 {
        background-color: var(--lightpurple);
    }

.btn:hover, .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color:white;
    background-color: black;
    border-color: black;
}

.page-headers {
    color:var(--purple);
  font-weight: bold;
    font-family: "Sofia", sans-serif, Arial;
    text-align:center;
}

.nav-link{
    color: var(--purple);
    font-size: large;
    font-family: Montserrat;}

.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
    color: black !important;
}

.navbar-collapse{
    text-align:center;
}
.navbarCollapse{
    background-color:black;
}

h5{    font-family: "Sofia", sans-serif, Arial;
}

.sub-headers{
    color:var(--purple);
    font-family:Montserrat, Arial;
    font-weight: bold;

}

@media only screen and ( max-width: 768px ) {
  .jumbotron {
    background-image: none !important;
  }
  .navbar-collapse{
    background-color: var(--lightpurple) !important;
}
    .tagline{
    background:transparent !important;
    }
}

.footer-info{font-weight:normal;
}

p{
    font-family:Montserrat, Arial;
    font-weight:bold;
    font-size:1.1rem;
}

hr{background-color: var(--lightpurple);}

.responsive-image{
  max-width: 40%;
  height: auto;
}

.tagline{
    font-family:Montserrat;
    width:30%;
    background:rgba(171,186,234,0.5);
}

.card {
  transition: 0.3s;
  border-radius: 10px;
}
.product-list-card:hover {
  box-shadow: 0 0px 15px rgba(0,0,0,0.25);
}

.card-img-top {
  border-radius: 10px 10px 0 0;
}