<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <meta name="description=" content="500 error">
        <title>500</title>
        <link rel="icon" type="image/png" href="/static/am_logo_white.png">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">

    </head>

<body class="pt-5 pb-5">

{% extends 'aless_art_shop/base.html' %}
{% block content %}

<div class="container">
    <h1 class="pt-5 page-headers">Oops! That's my mistake!</h1>
    <div class="container text-center pt-5">
    <div class="text-center pt-5">
    <p>Something went wrong on our end, apologies.</p>
    <p>Feel free to take another look at my artwork <a href="{% url 'aless_art_shop:gallery' %}">here!</a></p>
    </div>

    </div>
</div>

    {% endblock content %}

</body>