<!DOCTYPE html>
<html>

<head>
    <title>Buy cool new product</title>
<!--    <link rel="stylesheet" href="style.css">-->
    <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
    <script src="https://js.stripe.com/v3/"></script>
</head>

<body>
    <section>
        <div class="product">
            <div class="description">
                <h3>{{ products.product_name }}</h3>
                <hr />

                <div>
                    <h5>$ {{ products.price }}</h5>

                    <form action="{% url 'stripe_payments:create-checkout-session' products.id %}" method="POST">
                        {% csrf_token %}
                        <button type="submit">Checkout</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
</body>

</html>